* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navibar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 5%;
    background: #857c6433;
    width: 105%;
    position: fixed;
}

.logo {
    font-size: 1rem;
    font-weight: bold;
    color: yellow;

}

.hero-content h1 {
    font-family: "Playfair Display", serif;
}


.navibar ul {
    list-style: none;
    display: flex;
    gap: 30px;
    /* space between links */
    align-items: right;
}

.navlinks a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: 10ms;
}

.navlinks a:hover {
    color: #ff0303;
}

.hero {
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero.jpg");
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    color: white;
    text-align: center;
    padding: 0 20px;
}

.highlight {
    color: #ffab03;
    text-shadow: 3px 2px 10px rgba(255, 3, 3, 0.3);
}

.cta-btn {
    background: #7a1f1f;
    color: #ffffff;
    padding: 12px 35px;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2rem;
    font-weight: bold;
    transition: all 0.4s ease;
    box-shadow: 0 4px 15px rgba(223, 107, 107, 0.3);
}

.cta-btn:hover {
    background: #ff0303;
}


